# Flutter
.dart_tool/
.build/
.packages
.pub-cache/
pubspec.lock

# Android
android/app/build/
*.jks
google-services.json

# iOS
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/App.framework

# User data
*.log
*.tmp

# Env files
.env
.key
